In [4]:
l = [1,2,3,2,4,1,5,5,6,3,2,1,2]
l.sort()
d = {}
for i in l:
    if i in d:
        d[i] = d[i]+1
    else:
        d[i] = 1
l1 = []
for j in d:
    if d[j] == 1:
        l1.append(j)
for x in d:
    if d[x]>1:
        y = [x]*d[x]
        l1 = l1+y
print(l1)

[4, 6, 1, 1, 1, 2, 2, 2, 2, 3, 3, 5, 5]

In [7]:
t = (l1)
type(t)

list

In [8]:
d = {1:2,3:4,5:6}
for i in d:
    print(i)

1
3
5

In [3]:
#there is a list containing days starting from sunday
#wap to enter any msg as input, print the input without vowels and then replace space with hyphen
l = ['sunday','monday','tuesday','wednesday','thursday','friday','saturday']
l1 = []
for i in range(len(l)-1,0,-1):
    l1.append(l[i])
print(l1)

['saturday', 'friday', 'thursday', 'wednesday', 'tuesday', 'monday']

In [12]:
x = input('Enter input: ')
y = ['a','e','i','o','u']
for j in y:
    print(j)
    if j in x:
        z = x.replace(j,'')
print(z)
if ' ' in z:
    a = z.replace(' ','-')
    print(a)

Enter input: hi me he she
a
e
i
o
u
h me he she
h-me-he-she

In [1]:
#input a welcome message and display it
#input two numbers and display the larger/smaller number
#input three numbers and display the smallest/largest number
#generate the following patterns

for i in range(1,6):
    print('*'*i)

*
**
***
****
*****

In [9]:
n = int(input('Enter number of terms: '))

y = 0
x = 1

for i in range(n):
    z = x+y
    print(z,end=' ')
    y = x
    x = z

Enter number of terms: 10
1 2 3 5 8 13 21 34 55 89

In [10]:
print("Hello world")

Hello world

In [14]:
a=input("Enter school name:")
print(a)
print(len(a))
for i in range(len(a)):
    print(a)

Enter school name:Delhi Public School
Delhi Public School
19
Delhi Public School
Delhi Public School
Delhi Public School
Delhi Public School
Delhi Public School
Delhi Public School
Delhi Public School
Delhi Public School
Delhi Public School
Delhi Public School
Delhi Public School
Delhi Public School
Delhi Public School
Delhi Public School
Delhi Public School
Delhi Public School
Delhi Public School
Delhi Public School
Delhi Public School

In [ ]:
c=['a','e','i','o','u']
l=input("Enter a sentence:")