In [31]:
try:
    x=eval(input("Enter the sell amount: "))
    if x>3000:
        disc=x*0.05
        print ("Discount is", disc)
    elif x>=2000:
        disc=x*0.03
        print ("Discount is", disc)
    elif x>=1000 and x<2000:
        disc=x*0.02
        print ("Discount is", disc)
    else:
        print("NOT APPLICABLE")
except ValueError:
    print('You have entered an invalid Input')
except SyntaxError:
    print('You have entered an invalid Input')

Enter the sell amount: as
You have entered an invalid Input

In [2]:
try:
    n = int(input('Enter number for which you want factorial: '))
    fact = 1
    for i in range(1,n+1):
        fact = fact*i
    print('The factorial of',n,'is',fact)
except ValueError:
    print('You have entered an invalid input. Please enter integers only')

Enter number for which you want factorial: 5
The factorial of 5 is 120

In [44]:
try:
    n = int(input('Enter the start of your range: '))
    n1 = int(input('Enter the end of your range: '))

    if n%2 == 1:
        n = n+1
    elif n1%2 == 1:
        n1 = n1-1
    for i in range(n,n1+2,2):
        print(i)
except ValueError:
    print('Invalid Input. Please enter integers only.')

Enter the start of your range: 5
Enter the end of your range: as
Invalid Input

In [48]:
try:
    n = int(input('Enter the start of your range: '))
    n1 = int(input('Enter the end of your range: '))
    sum = 0
    if n%2 == 1:
        n = n+1
    elif n1%2 == 1:
        n1 = n1-1
    for i in range(n,n1+2,2):
        sum = sum+i
    print(sum)
except ValueError:
    print('Invalid Input. Please enter integers only.')

Enter the start of your range: 0
Enter the end of your range: 20
110

In [8]:
l = []
x = 0
while x<10:
    n = int(input('Enter Val: '))
    l.append(n)
    x = x+1
    
l.sort()
print(l)
if l[0] == l[1]:
    print('The second smallest number is',l[2])
print('The smallest number is',l[0])

print('The second smallest number is',l[1])

Enter Val: 3
Enter Val: 1
Enter Val: 6
Enter Val: 23
Enter Val: 46
Enter Val: 8
Enter Val: 35
Enter Val: 46
Enter Val: 234
Enter Val: 1
[1, 1, 3, 6, 8, 23, 35, 46, 46, 234]
The smallest number is 1

In [6]:
for i in range(1,20):
    for j in range(1,i):
        for p in range(1,j):
            if i**2 == j**2 + p**2:
                print(p,j,i,'are pythagorean triplets')

3 4 5 are pythagorean triplets
6 8 10 are pythagorean triplets
5 12 13 are pythagorean triplets
9 12 15 are pythagorean triplets
8 15 17 are pythagorean triplets

In [10]:
for i in range(1,101):
    for j in range(2,i):
        if i%j == 0:
            break
    else:
        print(i)

1
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97